body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #f0f0f0;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 50px;
    height: auto;
}

.sidebar nav ul {
    list-style: none;
    margin: 0;
    padding: 3px;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #6e6189;
    color: white;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-area {
    width: 80%; /* Ocupa el 80% del ancho del main-content */
    max-width: 600px; /* Establece un ancho máximo para evitar que se expanda demasiado */
    height: 300px; /* Establece una altura para el Dropzone */
    padding: 30px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex; /* Agregamos flex para centrar el contenido */
    flex-direction: column; /* Agregamos flex para centrar el contenido */
    justify-content: center; /* Agregamos flex para centrar el contenido */
    align-items: center; /* Agregamos flex para centrar el contenido */
}

.upload-area p {
    margin-bottom: 20px;
    font-size: 16px;
}

.file-input {
    display: none;
}

.upload-area ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%; /* La lista ocupa todo el ancho del Dropzone */
}

.upload-area li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex; /* Para alinear el texto y el botón en la misma línea */
    justify-content: space-between; /* Para separar el texto y el botón */
    align-items: center; /* Para centrar verticalmente el texto y el botón */
}

.upload-area li button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-area li button:hover {
    background-color: #6e6189; /* Cambia el color al pasar el cursor */
    color: white; /* Cambia el color del texto para que contraste */
}

.button2 {
    margin-top: 20px;
    width: 80%; /* El botón ocupa el 80% del ancho del main-content */
    max-width: 600px; /* Establece un ancho máximo para el botón */
}

.button2 .subir {
    width: 100%;
    padding: 10px 30px;
    background-color:#6e6189 ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.button2 .subir:hover {
    background-color: #362656;
    color: white;
}

.upload-area.dragover {
    border-color: #6e6189;
    background-color: #f0f0f0;
}