/* Minimalist UI CSS */

:root {
    --primary-color: #6e6189;
    --primary-dark: #362656;
    --background-color: #f0f0f0;
    --text-color: #362656;
    --border-color: #ccc;
    --border-radius: 8px;
    --transition: 0.3s ease-in-out;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura */
    margin: 0;
    flex-direction: column;
    padding: 20px 0;
    overflow: hidden; /* Desactiva el desplazamiento global */
}

.login-header {
    text-align: center;
    margin-bottom: 5px;
}

.login-header h1 {
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 5px;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px; /* Aumenta el ancho del formulario */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px; /* Aumenta el margen inferior */
    overflow-y: auto; /* Permite el desplazamiento dentro del contenedor */
    max-height: 80vh; /* Limita la altura del contenedor y permite desplazamiento */
}

.login-header p {
    font-size: 14px;
    color: var(--primary-dark);
}

.form-item {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
}

input[type="email"], input[type="password"], input[type="text"]{
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    transition: var(--transition);
    background: white;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(110, 97, 137, 0.3);
}

button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

button:hover {
    background: var(--primary-dark);
}

.sing-up {
    text-align: center;
    margin-top: 10px;
    color: var(--text-color);
}

.text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}
/* Estilos para el Modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté por encima del resto del contenido */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.modal-content p {
    font-size: 16px;
    color: var(--text-color);
}

.modal-content a {
    color: var(--primary-color);
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

